/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/05/2018, 13:07:41
    Author     : willesreis
*/
h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}
