<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Datatables</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="webjars/datatables/1.10.19/css/dataTables.bootstrap.min.css"/>
    </head>
    <body>
        <div th:replace="header :: menu"/>
        <div class="container">
            <div class="well">
                <h1>Spring Boot Web Thymeleaf + Bootstrap + jQuery Example</h1>
            </div>
	    <div class="panel panel-default">
		<div class="panel-heading">
		    <h3 class="panel-title">Use of Datatables.net by REST Service</h3>
		</div>
		<div class="panel-body">
		    <div class="row">
			<div class="col-md-12">
			    <ul>
				<li th:each="ins : ${instructions}" th:text="${ins}">instruction</li>
			    </ul>
			</div>
		    </div>
                    <table id="myTable" class="table table-bordered display">
                        <thead>
			    <tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Age</th>
			    </tr>
			</thead>
                    </table>
		</div>
	    </div>
        </div>
        <script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="webjars/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="webjars/datatables/1.10.19/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" src="js/datatables-config.js"></script>
    </body>
</html>
